.logo{
    width: 50px;
}

section{
    
}

.navbar{
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}
